body {
  margin: 0;
  font-family: 'Gidole';
  width: 100%;
}
.inizio{
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 19;
  height: 2445px;
  width: 100%;
}
.language{
  position: absolute;
  z-index: 10;
  margin: 10px 0 0 15px;
  min-width: 100px;
  left: 85%;
  top: 80px;
  cursor: pointer;
}

.wrapperino{
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: rgba(202, 203, 213, 1);
    border-radius: 5px;
    font-size: 18px;
}

.navbar{
  top: 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  z-index: 1000;
  transition: 0.7s;
}
.head{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  z-index: 1000;
}
.wrapper{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 14pt;
  min-height: 80px;
  letter-spacing: 0.05em;
}

li{
  grid-column: 1/7;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 28px;
  list-style: none;
  text-align: center;
}
.ontop{
background-color: rgba(0, 0, 0, 0.4);}

a{
  color: white;
  list-style: none;
  text-decoration: none;
}
.loghino{
  position: absolute;
  background-image: url(Apartment/icons/loghino/logo.svg);
  z-index: 1;
  height: 35px;
  width: 35px;
  left: calc(50% - 17px);
  top: 50%;

}

.line{
  height: 25px;
  width: 2px;
  background-color: #FFF;
  position: absolute;
  left:16.66%;
  top: 25px;
}

#line{
  left: 83.33%;
}
#home{
  grid-column:1/2;
}
#about{
  grid-column:2/3;
}
#valle{
  grid-column:3/5;
  padding-top: 14px;
}
#reservation{
  grid-column:5/6;
}
#apartment{
  grid-column:6/7;
}

.pano{
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(Apartment/images/pano.jpg);
}

.pano1{
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(Apartment/parallax/casa1.jpg);
}
.pano2{
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(Apartment/parallax/casa.jpg);
}

h2{
  margin: 0 auto;
  padding: 10px 13px;
  min-width: 210px;
  position: relative;
  border-radius: 4px;
  top: 50%;
  color: white;
  text-align: center;
  width: 190px;
  box-shadow: 2px 1px 4px #88A67B;
  background-color: #96A679;
  font-size: 25pt;
}
.primo{
  background-color: #96A679;
  display: inline-block;
  width: auto;
  padding: 25px 10px;
  position: relative;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  border-radius: 7px;
}
.cit{
  position: relative;
  text-align: center;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.box {  /* spostato qui per motivi di class*/
  width: 100%;
  min-height: 180px;
}

.copritutto{
  width: 100%;
  height: 120vh;
  position: absolute;
  transform: translate(0, -100px);
  ;
}
.novis{
  display: none;
}
.visibile{
  background-color: rgba(20, 24, 25, 0.98);
  z-index: 99
}

.container {
  position: relative;
  margin: 25px auto 30px auto;
  max-width: 1200px;
  transition: 0.8s;
}

.wrapper2{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 7px;
  /*
  -sosttuito con max width di .container
  width: 90%;
  sostituito con la classe di .box
  grid-auto-rows:minmax(180px, auto); */
}


 .box1{
  background-image: url(Apartment/ph_grid/ingresso.jpg);
  grid-column: 1/2;
  grid-row: 1/3;
  background-size: cover;
}
.box2{
  background-image: url(Apartment/ph_grid/ortensia.jpg);
  grid-row: 3/4;
  background-size: cover;
}
.box3{
  background-image: url(Apartment/ph_grid/rosa.jpg);
  background-size: cover;
  grid-row: 2/4;
  grid-column: 2/4;
}
.box4{
  background-image: url(Apartment/ph_grid/ws1.jpg);
  background-size: cover;
  grid-column: 2/5;
}
.box5{
  background-image: url(Apartment/ph_grid/ulivo.jpg);
  background-size: cover;
  grid-column: 5/7;
  grid-row: 1/3;
}
.box6{
  background-image: url(Apartment/ph_grid/vista.jpg);
  grid-row: 2/4;
  background-size: cover;
}
.box7{
  background-image: url(Apartment/ph_grid/rosa.jpg);
  background-size: cover;
  grid-column: 5/7;
}
.sldshow{ /*class per fare lo slideshow fake */
  display: block;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 100;
  height: 500px;
  max-width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.linea-container {
  max-width: 900px;
  position: relative;
  margin: 0 auto;
}

.linea {
  height: 2px;
  width: 100%;
  position: relative;
  background-color: #CACBD5;
}

.title{
  margin-bottom: 10px;
  position: relative;
  left: 5%;
  display: inline-block;
}
.title1{
  margin-bottom: 0px;
  font-size: 30px;
  position: relative;
  left: 3%;
  display: inline-block;
}

.descrizione{
  position: relative;
  height: 135px;
  width: 40%;
  padding: 0 10px;
  left: 5%;
  line-height: 1.4;
  box-shadow: 0px -5px 20px 0px inset rgba(0,0,0,0.2);
  overflow: hidden;
  transition-duration: 0.8s;
}
.vista{
  height: auto;
  position: relative;
  width: 40%;
  left: 5%;
  box-shadow: 0px 0px;
  transition: height 0.8s;
}

 /* bottone show more */
.show{
  position: relative;
  left: 5%;
  color: #50592E;
  margin: 20px 0 35px 0;
  padding: 2px 2px;
  border-radius: 5px;
  border: 1px solid #50592E;
  font-size: 16px;
}

.wrapper3{
  margin: 35px 0 0 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(400px, auto);
  grid-column-gap: 5px;
  }

.txt{
  display: inline; /* provo a ruotare il div con testo e basta */
  }
/* .activity{
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
} */
.ac1{
  grid-column: 1/2;
  max-width: 240px;
  color: white;
}
.trasimeno{
  background-image: url(Apartment/images/activity/trasimeno.jpg);
  height: 100%;
  background-size: cover;
  color: white;
}
.titolo{
  margin: 0px 0 20px 3%;
  position: relative;
  top: 1.4%;
}
.text{
  width: 75%;
  height: 230px;
  position: relative;
  margin: 40px 0 0 20px;
  text-align: center;
}
.type{
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 18px;
  /*background-color: rgba(255, 255, 255, 0.2);*/
}

.div2{
  left: 241px;
}
.div3{
  left: 482px;
}
.div4{
  left: 723px;
}
.div5{
  left: 964px;
}
.coverdiv{
  width: 236px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: absolute;
}
.hovered{
  display: none;
}

.ac2{
  grid-column: 2/3;
  color: white;
}
.borghi{
  background-image: url(Apartment/images/activity/assisi.jpg);
  height: 100%;
  background-size: cover;
}

.festival{
  background-image: url(Apartment/images/activity/uj.jpg);
  height: 100%;
  background-size: cover;
}
.ac3{
  grid-column: 3/4;
  color: white;
}

.ac4{
  grid-column: 4/5;
  color: white;
}
.fiori{
  background-image: url(Apartment/images/activity/fiori.jpg);
  height: 100%;
  background-size: cover;
}

.ac5{
  grid-column: 5/6;
  color: white;
}
.cibo{
  background-image: url(Apartment/images/activity/sagra.jpg);
  height: 100%;
  background-size: cover;
}
.color{
  width: 100%;
  height: 625px;
  background-color: #96A679;
  position: absolute;
  z-index: -1;
}
.col{
  transform: translate(0, -125.5%);
  height: 400px;

}
.col1{
transform: translate(0, -30%);
}
#map {
  height: 400px;
  width: 94%;
  margin: 0 auto;
 }

 /* Inizio About us */

 .about{
   text-align: center;
   position: relative;
 }

 .container-ab {
   position: relative;
   width: 100%;
   margin: 25px auto 30px auto;
   max-width: 900px;
 }

 .presentation{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 14px;
 }

 .pre{
  min-height: 120px;
 }

 .pr1{
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 30px;

}

.name{
  position: relative;
  top: calc(0% + 15px);
  margin: 0;
  transform: translate(0%, -50%);
}

.pr2{
 grid-column: 1/3;
 grid-row: 2/5;
 text-align: justify;
}

.pr3{
 grid-column: 3/6;
 grid-row: 1/3;
 overflow: hidden;
}

.pr4{
 grid-column: 3/4;
 grid-row: 3/5;
 overflow: hidden;
}

.pr5{
 grid-column: 4/6;
 grid-row: 3/5;
 overflow: hidden;
}

.img{
  background-image: url(Apartment/images/papà.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.img1{
  background-image: url(Apartment/images/maya.jpg);
  height: 100%;
  background-size: cover;
}

.img2{
  background-image: url(Apartment/images/casa.jpg);
  height: 100%;
  background-size: cover;
}

.container-co{
  max-width: 100%;
  background-color: #50592E;
  height: 455px;
}

.container-co1{
  max-width: 1000px;
  height: 450px;
  margin: auto;
  position: relative;
}
.contacts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.con{
  min-height: 145px;
  max-height: 145px;
  color: white;
}

.co1{
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 30px;
  text-align: center;
}

.co2{
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/4;
  max-height: 350px;
  margin-top: 55px;
  background-repeat: no-repeat;
  background-image: url(Apartment/icons/loghino/logo.svg);
  background-size: contain;
}

.co3{
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}
.pin {
  background-image: url(Apartment/icons/loghino/pin.svg);
  background-size: contain;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  position: absolute;
  left: 56%;
  top: 71.5%;
}

.mail{
  background-image: url(Apartment/icons/loghino/mail.svg);
  background-size: contain;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  position: absolute;
  left: 55.5%;
  top: 54.8%;
}
.phone{
  background-image: url(Apartment/icons/loghino/phone.svg);
  background-size: contain;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  position: absolute;
  left: 55.5%;
  top: 35%;
}

/* Inizio Apartment */

.apartment{
  text-align: center;
  position: relative;
  top: 60%;
  width: 250px;

}

#slider{
  max-width: 1080px;
  height: 500px;
  margin: 20px auto;
  position: relative;
  top: 14%;
}

#box {
  height: 500px;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  margin: 0;
}


.pic{
height: 500px;
width: 756px;
position: relative;
left: 50%;
transform: translate(-50%);
display: none;
background-size: cover;
}
.active {
  display: inline-block;
}

/* foto dello slideshow */
.ph1{
background-image: url(Apartment/images/JPG/1.jpg);
}
.ph2{
  background-image: url(Apartment/images/JPG/2.jpg);
}
.ph3{
  background-image: url(Apartment/images/JPG/3.jpg);
}
.ph4{
  background-image: url(/Apartment/images/JPG/4.jpg);
}
.ph5{
  background-image: url(Apartment/images/JPG/5.jpg);
}
.ph6{
  background-image: url(Apartment/images/JPG/6.jpg);
}
.ph7{
  background-image: url(Apartment/images/JPG/7.jpg);
}
.ph8{
  background-image: url(Apartment/images/JPG/8.jpg);
}
.ph9{
  background-image: url(Apartment/images/JPG/9.jpg);
}
.ph10{
  background-image: url(Apartment/images/JPG/10.jpg);
}
.ph11{
  background-image: url(Apartment/images/JPG/11.jpg);
}
.ph12{
  background-image: url(Apartment/images/JPG/12.jpg);
}
.ph13{
  background-image: url(Apartment/images/JPG/13.jpg);
}
.ph14{
  background-image: url(Apartment/images/JPG/14.jpg);
}
.ph15{
  background-image: url(Apartment/images/JPG/15.jpg);
}
.ph16{
  background-image: url(Apartment/images/JPG/16.jpg);
}
.ph17{
  background-image: url(Apartment/images/JPG/17.jpg);
}
.ph18{
  background-image: url(Apartment/images/JPG/21.jpg);
}
.ph19{
  background-image: url(Apartment/images/JPG/19.jpg);
}
.ph20{ /* fiore di merda */
  background-image: url(Apartment/images/JPG/20.jpg);
}


button {
  padding: 20px;
  font-size: 26px;
  border: none;
  color: white;
  position: absolute;
  top: 0%;
  z-index: 10;
  cursor: pointer;
  outline: none;
}
.next{
  left: 100%;
  background-color: #E37B40;
  border-radius: 0px 10px 10px 0px;
  transform: translate(-168%, 200px);
}

.prev{
  transform: translate(80%, 200px);
  background-color: #E37B40;
  left: 0%;
  border-radius: 10px 0 0px 10px;
}
.next:hover, .prev:hover{
  background-color: #FFAB7A;
  color: #606899;
}

#show {
  position: absolute;
  left: 38%;
  top: 105%;
}

.serv-container {
  max-width: 1000px;
  position: relative;
  margin: 20px auto;
}

.servizi{
  height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

.icon{
    min-height: 80px;
    text-align: center;
  }

.wifi{
  background-image: url(Apartment/icons/wifi.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.lavatrice{
  background-image: url(Apartment/icons/lavatrice.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.towels{
  background-image: url(Apartment/icons/towels.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.thermo{
  background-image: url(Apartment/icons/thermo.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.park{
  background-image: url(Apartment/icons/park.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.cutlery{
  background-image: url(Apartment/icons/cutlery.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.stove{
  background-image: url(Apartment/icons/stove.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.hanger{
  background-image: url(Apartment/icons/hanger.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.phon{
  background-image: url(Apartment/icons/phon.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.micro{
  background-image: url(Apartment/icons/micro.svg);
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 8px;
}

.map{
  position: relative;
  margin: 20px auto 0 auto;
  max-width: 1260px;
}

/* inzio reservation */

.container-pr{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 560px;
  max-width: 900px;
  margin: 7px auto;
  margin-bottom: -93px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  grid-row-gap: 7px;
}
.bassa{
  background-color: #DBF2C4;
  height: 100%;
}
.media{
  background-color: #96A679;
  height: 100%;
}
.alta{
  background-color: #50592E;
  height: 100%;
}
.prezzo1, .prezzo2, .prezzo3{
  text-align: center;
  height: 100%;
}
.prezzo1{
  background-color: #DBF2C4;
}
.prezzo2{
  background-color: #96A679;
}
.prezzo3{
  background-color: #50592E;
}
.costi{
  grid-column: 1/3;
  text-align: right;
  position: relative;
  top: -63px;
  font-size: 13px;
}
